{%- assign blogs = site.posts | sort: "date" | reverse -%}
<ul class="post-list">
    {%- for post in blogs limit:3 -%}
    <li>
        <span class="post-date">{{ post.date | date: "%m/%Y" }}</span>
        <div>
            <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            {%- if post.summary -%}
            <div class="post-summary">{{ post.summary }}</div>
            {%- elsif post.excerpt -%}
            <div class="post-summary">{{ post.excerpt | strip_html | truncatewords: 35 }}</div>
            {%- endif -%}
            {%- if post.tags.size > 0 -%}
            <div class="post-tags">
                {%- for tag in post.tags limit:4 -%}
                <span class="badge badge-venue">{{ tag }}</span>
                {%- endfor -%}
            </div>
            {%- endif -%}
        </div>
    </li>
    {%- endfor -%}
</ul>

<p class="more-link"><a href="{{ '/year-archive/' | relative_url }}">All blog posts &rarr;</a></p>
